section#info-section
  #info-container
    h1#name Daniel Megahan
    #face-container
      img(src='MuhFace.png')
    br
    p.description-container
      | I'm a software test engineer with a passion for programming, politics and history. Programming-wise, I branch out into as many technologies as I can, and I try to actively seek out topics and challenges that I am not yet familiar with. I take the same approach to topics that I read, and hope, one day, to turn any knowledge that I gain into a literary outlet in the form of essays.
    br
    p.description-container
      | I try to grow everyday. I seek to learn more, program more, and turn these habits into published projects.
    br
    a#linked-in.link(href='https://www.linkedin.com/in/daniel-megahan-6034425b') LinkedIn
    |  |
    a#github.link(href='https://github.com/dmegahan') github
    |  |
    a#goodreads.link(href=' https://www.goodreads.com/dmegahan') goodreads
