#bottom-bar
  #website-summary
    // <p>This website is powered by html, css, and javascript. Nothing fancy. It's also pretty trash right now.</p>
  #routes
    a#home-route.link(href='/') HOME
    a#blog-route.link(href='/blog') BLOG
  #bottom-links
    a#background-source.link(href='https://www.toptal.com/designers/subtlepatterns/dark-sharp-edges/') background source
    p#gitCommit
      a.link(href='https://github.com/dmegahan/dmegahan.io/commit/'+ githubCommit_hash) #{githubCommit_short}
