extends index.pug

block body
    section#login-form
        p Login
        form(action="/login" method="POST")
            p username:
                input(type="text" name="username" placeholder="")
            p password:
                input(type="text" name="password" placeholder="")
            input(type="submit" value="Login")
        