        <div id="bottom-bar">
            <div id="website-summary">
                <p>This website is powered by html, css, and javascript. Nothing fancy. It's also pretty trash right now.</p>
            </div>
            <div id="bottom-links">
                <p><a href="https://github.com/dmegahan/dmegahan.io/" id="website-repo" class="link">github</a></p>
                <a href="https://www.toptal.com/designers/subtlepatterns/dark-sharp-edges/" id="background-source" class="link">background source</a>
                <script src="/components/GithubCommitLink.js" type="module"></script>
                <p id="gitCommit">Webiste commit supposed to be here, something went wrong</p>
            </div>
        </div>
    </body>
</html>
