        <div id="bottom-bar">
            <div id="website-summary">
                <!-- <p>This website is powered by html, css, and javascript. Nothing fancy. It's also pretty trash right now.</p> -->
            </div>
            <div id="routes">
                <a href="/" id="home-route" class="link">HOME</a>
                <a href="/blog" id="blog-route" class="link">BLOG</a>
            </div>
            <div id="bottom-links">
                <a href="https://www.toptal.com/designers/subtlepatterns/dark-sharp-edges/" id="background-source" class="link">background source</a>
                <p id="gitCommit"><a href="https://github.com/dmegahan/dmegahan.io/commit/{{gitCommit-hash}}" class="link">{{gitCommit-short}}</a></p>
            </div>
        </div>
    </body>
</html>
